form label {
    width: 100px;
}

.form-check-label {
    margin-right: 25px;
}

#poll-row {
    margin: 25px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.pollContainer {
    width: 300px;
    padding: 15px;
    border: 1px solid slateblue;
    position: relative;
}

.pollContainer ul {
    padding: 0;
    position: absolute;
    top: 40%;
    right: 40%;
    display: none;
}

.pollContainer ul li {
    list-style: none;
    text-transform: uppercase;
}