form label {
    width: 100px;
}

.form-group {
    max-width: 300px;
    margin: 25px auto;
}

.form-check-label {
    margin-right: 25px;
}

.displayPolls {
    display: none;
}

#poll-row {
    margin: 25px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pollContainer {
    width: 300px;
    padding: 15px;
    border: 1px solid slateblue;
    margin: 1%;
}

.pollContainer ul {
    padding: 0;
}

.pollContainer ul li {
    list-style: none;
    text-transform: uppercase;
}