.carousel__image {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  display: none;
}

.carousel__image img {
  max-width: 100%;
}

.carousel__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #000000;
  display: inline-block;
}

.highlighted-circle {
  background: #000000;
}